version: "3.9"

networks:
  app-network:
    driver: bridge

services:
  backend:
    image: lotus-backend
    restart: unless-stopped
    ports:
      - "3001:3000"
    env_file:
      - ./backend/.env
    networks:
      - app-network

  frontend:
    image: lotus-frontend
    restart: unless-stopped
    ports:
      - "8080:80"
    networks:
      - app-network

